<a href="https://colab.research.google.com/github/pDavidm/RestAPI/blob/master/Project_01_food_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np

In [18]:
filename = '/content/drive/MyDrive/Data Science Class/week7 19/sales_predictions.csv'
df = pd.read_csv(filename)

In [19]:
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [20]:
#checking for duplicates
df.duplicated().any()

False

In [21]:
#checking data types
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [22]:
#checking for spelling errors in the object field
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [23]:
#fixing errors
Low_Fat = (df['Item_Fat_Content'] == 'LF') | (df['Item_Fat_Content'] == 'low fat') | (df['Item_Fat_Content'] == 'Low Fat')
df['Item_Fat_Content'] = np.where(Low_Fat, 'Low Fat', 'Regular')

In [24]:
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [25]:
df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [26]:
df['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT046    930
OUT049    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [27]:
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [28]:
df['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [29]:
df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [5]:
# checking for null values
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [31]:
#looking at max, min, and mean values of Item_Weight
df.groupby('Item_Type')[['Item_Weight']].max()

                       Item_Weight
Item_Type
Baking Goods                 20.85
Breads                       20.85
Breakfast                    21.10
Canned                       21.35
Dairy                        20.70
Frozen Foods                 20.85
Fruits and Vegetables        21.35
Hard Drinks                  19.70
Health and Hygiene           21.25
Household                    21.25
Meat                         21.25
Others                       20.50
Seafood                      20.75
Snack Foods                  21.25
Soft Drinks                  20.75
Starchy Foods                21.20

In [32]:
df.groupby('Item_Type')[['Item_Weight']].min()

                       Item_Weight
Item_Type
Baking Goods                 4.880
Breads                       4.635
Breakfast                    6.425
Canned                       4.615
Dairy                        4.805
Frozen Foods                 4.555
Fruits and Vegetables        5.460
Hard Drinks                  4.610
Health and Hygiene           5.175
Household                    5.030
Meat                         5.150
Others                       5.500
Seafood                      5.365
Snack Foods                  5.095
Soft Drinks                  4.590
Starchy Foods                6.695

In [33]:
df.groupby('Item_Type')[['Item_Weight']].mean()

                       Item_Weight
Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731

In [34]:
#setting the missing values of 'Item_Weight' to the mean value of entry's 'Item_Type
df["Item_Weight"] = df.groupby("Item_Type").transform(lambda x: x.fillna(x.mean()))

In [35]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [52]:
#looking at missing data in Outlet Size
missing = df['Outlet_Size'].isna()
df[missing].head()

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3            FDX07       19.200  ...      Grocery Store           732.3800
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
25           NCD06       13.000  ...  Supermarket Type1           838.9080
28           FDE51        5.925  ...      Grocery Store           178.4344

[5 rows x 12 columns]

In [50]:
#seeing if there is any store ids that have entries with null and non-null values
df[missing].Outlet_Identifier.unique()

array(['OUT010', 'OUT045', 'OUT017'], dtype=object)

In [55]:
out1 = (df['Outlet_Identifier'] == 'OUT010') & (df['Outlet_Size'].notnull())
df[out1]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [57]:
out2 = (df['Outlet_Identifier'] == 'OUT045') & (df['Outlet_Size'].notnull())
df[out2]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [58]:
out3 = (df['Outlet_Identifier'] == 'OUT017') & (df['Outlet_Size'].notnull())
df[out3]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [59]:
#since the missing values seem tied to specific stores and with no way to know the stores size it might be best to just create an 'unknown' or 'missing' value for the outlet_size 
df[['Outlet_Size']] = df[['Outlet_Size']].fillna('Missing')

In [61]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64